@media only screen and (max-width: 768px) {


    article,
    body {
        float: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }


    body #home {
        display: grid;
    }

    header h1{
        text-align: center;
        display: grid;
        justify-content: center;
        align-items: center;
    }
   
    header ul a{
        display: inline-flex;
        margin-left: 0;
    }

    header a{
        display: grid;
        align-items: center;
        text-align: center;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        margin-left: 0;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    height: 2000px;
}

header h1 {
    padding-left: 100px;
    display: inline-flex;
    text-align: right;
    align-items: right;
    color: rgb(201, 64, 64);
    margin-right: 530px;
    
}

header {
    background-color: lightgray;
    margin-top: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 1px 20px;
    top: 0;
    position: sticky;
    z-index: 1000;
    
}

header a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    background-color: lightgray;
    border-radius: 20px;
    transition: 0.3s ease;
    padding: 10px 15px;
    
}

header ul {
    display: inline-flex;
    text-align: right;
    align-items: right;
    justify-content: right;
}

ul a:hover {
    background-color: maroon;
    color: white;
}

#home h1 {
    text-align: center;
    margin-top: 180px;
    font-size: 120px;
    margin-right: 500px;
    margin-left: 500px;
    -webkit-text-stroke: 3px white;
}


#home {
    border-radius: 20px;
    align-items: center;
    text-align: center;
    border: hidden;
}

#shop {
    color: black;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: inline-flex;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    background-color: white;
    justify-content: center;
    box-shadow: 0 1px 20px;
}


#home a:hover {
    background-color: maroon;
    color: white;
}

body {
    background: url(image/a.jpg) center/cover no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
    height: 900px;
}

#list-cloth button {
    text-align: center;
    font-size: 13px;
    color: black;
    background-color: whitesmoke;
    font-weight: 900;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    transition: 0.3s ease;
    box-shadow: 0 1px 20px;
    margin-top: 0px;
}

#list-cloth button:hover {
    background-color: maroon;
    color: white;
}

#h1fortshirt {
    text-align: center;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 80px;
}

#tshirt {
    justify-content: space-around;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}

#tshirt1 img {
    width: 200px;
    height: auto;
}

#tshirt2 img {
    width: 100px;
    height: auto;
}

#tshirt3 img {
    width: 180px;
    height: auto;
}

#tshirt4 img {
    width: 120px;
    height: auto;
}

#tshirt1,
#tshirt2,
#tshirt3,
#tshirt4 {
    text-align: center;
    width: 320px;
    background: white;
    box-shadow: 0 10px 20px black;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 400px;
    justify-content: space-between;
}

#h1forpants {
    text-align: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#pants {
    justify-content: space-around;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#pants1 img {
    width: 120px;
    height: auto;
    justify-content: space-between;
}

#pants2 img {
    width: 95px;
    height: auto;
    justify-content: space-between;
}

#pants3 img {
    width: 95px;
    height: auto;
    justify-content: space-between;
}

#pants4 img {
    width: 95px;
    height: auto;
    justify-content: space-between;
}


#pants1,
#pants2,
#pants3,
#pants4 {
    text-align: center;
    width: 320px;
    background: white;
    box-shadow: 0 10px 20px black;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 400px;
    justify-content: space-between;
}

#pants h2 {
    color: red;
}

#tshirt h2 {
    color: red;
}

#perfume h2 {
    color: red;
}

#h1forperfume {
    text-align: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#perfume {
    justify-content: space-around;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#perfume1,
#perfume2,
#perfume3,
#perfume4 {
    text-align: center;
    width: 320px;
    background: white;
    box-shadow: 0 10px 20px black;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 400px;
    justify-content: space-between;
}

#perfume1 img {
    width: 186px;
    height: auto;
    justify-content: space-between;
}

#perfume2 img {
    width: 186px;
    height: auto;
    justify-content: space-between;
}

#perfume3 img {
    width: 156px;
    height: auto;
    justify-content: space-between;
}

#perfume4 img {
    width: 136px;
    height: auto;
    justify-content: space-between;
}

#h1forcontactus{
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

#contact {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    box-shadow: 0 1px 20px;
    border-radius: 20px;
    text-align: center;
}

#contact #left-side{
    background-color: white;
    width: 50%;
    height: 500px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#left-side img{
    width: 300px;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#left-side h1{
    text-align: left;
    margin-left: 20px;
    font-size: 40px;
    margin-top: 0;
    color: maroon;
}

#left-side a{
    text-decoration: none;
    color: black;
    padding: 20px;
    justify-content: space-between;
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    font-size: 30px;
}

#contact img{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}

#right-side button {
    color: white;
    font-weight: 900;
    padding: 10px 18px;
    border: 1px solid;
    transition: 0.3s ease;
    background-color: maroon;
    border-radius: 20px;
    margin: 10px;
    margin-left: 250px;
}

#right-side button:hover {
    background-color: white;
    color: black;
}

#contact #right-side{
    background-color: maroon;
    width: 50%;
    height: 500px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

#right-side {
    text-align: center;
}

#right-side h1{
    margin-bottom: 50px;
    margin-left: 20px;
    font-size: 40px;
}

#right-side input {
    border-radius: 20px;
    height: 30px;
    margin: 10px; 
    width: 350px;
    border: 1px solid white;
    background-color: maroon;
    color: white;
}

#right-side textarea {
    border-radius: 20px;
    margin: 10px; 
    background-color: maroon;
    border: 1px solid white;
    width: 350px;
    color: white;
}

#right-side textarea::placeholder{
    margin-left: 20px;
    margin-top: 5px;
    color: white;
}

#right-side input::placeholder{
        margin-left: 20px;
        margin-top: 5px;
        color: white;

}

