@media only screen and (max-width: 768px) {

    header,
    article, body {
        float: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    padding-left: 100px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    color: rgb(201, 64, 64);
}

header {
    background-color: lightgray;
    margin-top: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 1px 20px;

}

ul {
    display: inline-flex;
    margin-left: 500px;
}

ul a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    background-color: lightgray;
    width: 100px;
    border-radius: 20px;
    transition: 0.3s ease;
    text-align: center;
    align-items: center;
    height: 30px;
    display: inline-flex;
    justify-content: center;
}

ul a:hover {
    background-color: maroon;
    color: white;
}

#home h1 {
    text-align: center;
    margin-top: 180px;
    font-size: 120px;
    margin-right: 500px;
    margin-left: 500px;
    -webkit-text-stroke: 3px white;
    font-weight: 4000;

}


#home {
    border-radius: 20px;
    align-items: center;
    text-align: center;
    border: hidden;
}

#shop {
    color: black;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: inline-flex;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    background-color: white;
    justify-content: center;
    box-shadow: 0 1px 20px;
}


#home a:hover {
    background-color: maroon;
    color: white;
}

body {
    background: url(image/a.jpg) center/cover no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
    height: 900px;
}

button {
    text-align: center;
    font-size: 13px;
    color: black;
    background-color: whitesmoke;
    font-weight: 900;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    transition: 0.3s ease;
    box-shadow: 0 4px 20px;
    width: 100%;
    margin-top: 0px;

}

button:hover {
    background-color: maroon;
    color: white;
}

#headerfortshirt {
    text-align: center;
    align-items: center;
    margin-top: 300px;
}

#tshirt {
    justify-content: space-around;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}

#tshirt1 img {
    width: 200px;
    height: auto;
}

#tshirt2 img {
    width: 100px;
    height: auto;
}

#tshirt3 img {
    width: 180px;
    height: auto;
}

#tshirt4 img {
    width: 120px;
    height: auto;
}

#tshirt1,
#tshirt2,
#tshirt3,
#tshirt4 {
    text-align: center;
    width: 320px;
    background: white;
    box-shadow: 0 10px 20px black;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 400px;
    justify-content: space-between;
}

#headerforpants {
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

#pants {
    justify-content: space-around;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#pants1 img {
    width: 120px;
    height: auto;
    justify-content: space-between;
}

#pants2 img {
    width: 95px;
    height: auto;
    justify-content: space-between;
}

#pants3 img {
    width: 95px;
    height: auto;
    justify-content: space-between;
}

#pants4 img {
    width: 95px;
    height: auto;
    justify-content: space-between;
}


#pants1,
#pants2,
#pants3,
#pants4 {
    text-align: center;
    width: 320px;
    background: white;
    box-shadow: 0 10px 20px black;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 400px;
    justify-content: space-between;
}

#pants h2 {
    color: red;
}

#tshirt h2 {
    color: red;
}

#perfume h2 {
    color: red;
}

#headerforperfume {
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

#perfume {
    justify-content: space-around;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#perfume1,
#perfume2,
#perfume3,
#perfume4 {
    text-align: center;
    width: 320px;
    background: white;
    box-shadow: 0 10px 20px black;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 400px;
    justify-content: space-between;
}

#perfume1 img {
    width: 186px;
    height: auto;
    justify-content: space-between;
}

#perfume2 img {
    width: 186px;
    height: auto;
    justify-content: space-between;
}

#perfume3 img {
    width: 156px;
    height: auto;
    justify-content: space-between;
}

#perfume4 img {
    width: 136px;
    height: auto;
    justify-content: space-between;
}